.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(1, 29, 71);
  color: #fff;
  position: relative;
}

.navbar__logo-section {
}

.navbar__navItems {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  list-style-type: none;
  width: 40%;
  max-width: 500px;
}

.navbar__navItems li {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.navbar__navItems li,
.navbar__navItems {
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar__cart {
}

.navbar__cart .navbar__cart-total {
  display: flex;
  align-items: center;
}

.navbar__cart .cartIcon {
  margin-left: 2px;
}

.navbar__cart-total {
  height: 1.2em;
  width: 1.2em;
  font-size: 0.7em;
  border-radius: 10px;
  background: red;
  color: #fff;
  justify-content: center;
  margin-left: 5px;
}
